Build
*vcproj.*.user
*.suo
*.pdb
*.ncb
*.sln
Image Uploader.sln
*.vcxproj
Image Uploader.vcxproj.filters
*.filters
*.ipch
*.tlog
*.sln
Image Uploader.sln
*.sdf
*.c
UpgradeLog.htm
*.idb
Contrib
/Contrib
