Build
Bld/
*vcproj.*.user
*.suo
*.pdb
*.ncb
*.pch
*.idb
*.vcxproj.user
Dist/output/
Dist/portable/
Data/Snapshots
Data/History
Data/.idea
Data/settings*.xml
Data/EBWebView
Source/.idea
Source/versioninfo.h
Utils/Localize/.idea
Utils/Web/.idea
Sandbox/
ipch/
*.obj
*.aps
Lang/*.new
Dist/debian/imgupload
Dist/serverchecker
BuildVS2022/