# Use "Utils/encrypt_env_value.py" script to encode values

IU_GOOGLE_DRIVE_CLIENT_SECRET=
IU_GOOGLE_DRIVE_CLIENT_ID=

IU_ONE_DRIVE_CLIENT_ID=

IU_YANDEX_DISK_CLIENT_ID=
IU_YANDEX_DISK_SECRET=

IU_GOOGLE_PHOTOS_CLIENT_ID=
IU_GOOGLE_PHOTOS_CLIENT_SECRET=

IU_DROPBOX_APP_KEY=
IU_DROPBOX_APP_SECRET=

IU_FLICKR_APP_KEY=
IU_FLICKR_APP_SECRET=