#pragma once
#define IU_BUILD_NUMBER "0"
#define IU_BUILD_DATE "01.12.2018"
#define IU_APP_VER "999.0.0-git"
#define IU_APP_VER_CLEAN "999.0.0"
#define IU_COMMIT_HASH ""
#define IU_COMMIT_HASH_SHORT ""
#define IU_BRANCH_NAME ""